<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= course.price %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= course.author %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= course.rate %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= course.duration %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= course.language %>
  </p>

</div>
